<h2 id="barsTitle">{{city}} Bars</h2>

<div id="bars-container" class="container">
    <div class="row">
        <div align="middle" class="col-md-12">
            {{bar_name}} {{bar_image}}

            <p>Don't see your bar? <button type="button" class="btn btn-primary btn-dark" data-toggle="modal"
                    data-target="#barsModal">
                    Add It
                </button></p>
        </div>
    </div>
</div>


<div class="footer">
    <div class="container text-center">
        <a href="/">Home</a> | <a href="https://github.com/CristalGomez/Project2">Github</a> | <a href="/contactUs">Contact Us</a>
        
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="barsModal" tabindex="-1" role="dialog" aria-labelledby="barsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="barsModalLabel">Add a Bar to the {{city}} Page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div align="left" class="modal-body">
                {{!-- Bar name input box --}}
                <div data-city={{city}} id="barForm" class="form-group">
                    <label for="usr">Bar Name:</label>
                    <input type="text" class="form-control" id="barName">
                </div>
                {{!-- End of bar name input box --}}

                {{!-- Image input form --}}
                <form action="/action_page.php">
                    <p>Bar Image:</p>
                    <input id="barImg" type="file" name="pic" accept="image/*">
                </form>
                {{!-- End of image input box --}}
            </div>
            <div class="modal-footer">
                <button type="button" id="addBars" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


